- # Fedena
- #Copyright 2010 Foradian Technologies Private Limited
- #
- #This product includes software developed at
- #Project Fedena - http://www.projectfedena.org/
- #
- #Licensed under the Apache License, Version 2.0 (the "License");
- #you may not use this file except in compliance with the License.
- #You may obtain a copy of the License at
- #
- #  http://www.apache.org/licenses/LICENSE-2.0
- #
- #Unless required by applicable law or agreed to in writing,
- #software distributed under the License is distributed on an
- #"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
- #KIND, either express or implied.  See the License for the
- #specific language governing permissions and limitations
- #under the License.
- current_username = @current_user.username
- profile_employee_no = @employee.employee_number
#content-header
  = image_tag("HR/show_hr.png")
  %h1= t('employee_profile')
  %h3= t('details')
  #app-back-button
    = back_button
#nav
  %ul
    %li
      %a#link_one.drops{:href => "#"}
        = t('profile_text')
        ▼
      %ul#box_one.scriptaculously{:style => "display:none;"}
        %li= link_to "#{t('general')}", :url => {:action => "profile_general", :id => @employee.id}, :update => "profile-infos", :remote => true
        %li= link_to "#{t('personal')}", :url => {:action => "profile_personal", :id => @employee.id}, :update => "profile-infos", :remote => true
        %li= link_to "#{t('address')}", :url => {:action => "profile_address", :id => @employee.id}, :update => "profile-infos", :remote => true
        %li= link_to "#{t('contact')}", :url => {:action => "profile_contact", :id => @employee.id}, :update => "profile-infos", :remote => true
        %li= link_to "#{t('bank_info')}", :url => {:action => "profile_bank_details", :id => @employee.id}, :update => "profile-infos", :remote => true
        %li= link_to "#{t('additional_info')}", :url => {:action => "profile_additional_details", :id => @employee.id}, :update => "profile-infos", :remote => true
    - if current_username == profile_employee_no
      %li
        %a#link_two.drops{:href => "#"}
          = t('salary')
          ▼
        %ul#box_two.scriptaculously{:style => "display:none;"}
          %li= link_to "#{t('payroll_text')}", :url => {:action => "profile_payroll_details", :id => @employee.id}, :update => "profile-infos", :remote => true
          %li= link_to "#{t('payslip_text')}", :url => {:action => "view_payslip", :id => @employee.id}, :update => "profile-infos", :remote => true
    - else
      - if permitted_to? :payslip, :employee
        %li
          %a#link_two.drops{:href => "#"}
            = t('salary')
            ▼
          %ul#box_two.scriptaculously{:style => "display:none;"}
            %li= link_to "#{t('payroll_text')}", :url => {:action => "profile_payroll_details", :id => @employee.id}, :update => "profile-infos", :remote => true
            %li= link_to "#{t('payslip_text')}", :url => {:action => "view_payslip", :id => @employee.id}, :update => "profile-infos", :remote => true
    - if current_username == profile_employee_no
      %li
        %a#link_three.drops{:href => "#"}
          = t('leaves')
          ▼
        %ul#box_three.scriptaculously{:style => "display:none;"}
          %li= link_to "#{t('attendance')}", :url => {:action => "view_attendance", :id => @employee.id}, :update => "profile-infos", :remote => true
          %li= link_to "#{t('leaves')}", :controller=>"employee_attendance", :action=>"leaves", :id=>@employee.id
    - else
      - if permitted_to? :employee_attendance, :employee
        %li
          %a#link_three.drops{:href => "#"}
            = t('leaves')
            ▼
          %ul#box_three.scriptaculously{:style => "display:none;"}
            %li= link_to t('attendance'), url: {action: :view_attendance, id: @employee.id}, remote: true, update: "profile-infos"
    - if permitted_to? :employee_timetable, :timetables
      - unless @employee.subjects.empty?
        %li= link_to t('timetable_text'), controller: :timetables, action: :employee_timetable, id: @employee.id
    - if current_username == profile_employee_no
      - if @new_reminder_count.size == 0
        %li= link_to t('reminder_text'), controller: :reminders, action: :index
      - else
        %li= link_to "#{t('reminder_text')}(#{@new_reminder_count.size})", controller: :reminders, action: :index
    - if @current_user.admin?
      %li
        = link_to t('delete_text'), { action: :remove, id: @employee.id}, method: :DELETE
    %li
      %a#link_four.drops{:href => "#"}
        = t('more')
        ▼
      %ul#box_four.scriptaculously{:style => "display:none;"}
        - FedenaPlugin::ADDITIONAL_LINKS[:employee_profile_more_menu].each do |mod|
          %li= link_to t(mod[:title]), mod[:destination].merge(:id=>@employee.id)
#page-yield
  - unless flash[:notice].nil?
    %p.flash-msg
      = flash[:notice]
  #employee_profile_heading
    #profile_picture_display
      - if @employee.photo.file?
        = image_tag @employee.photo.url(:medium)
      - else
        = image_tag "HR/default_employee.png"
    #employee_main_info
      %h3
        = @employee.full_name
      %h4
        = t('employee_id')
        \: #{@employee.employee_number}
    #profile-general-info
    .extender
  #profile-infos
    = render :partial => "general"
  .extender
