- # Fedena
- #Copyright 2010 Foradian Technologies Private Limited
- #
- #This product includes software developed at
- #Project Fedena - http://www.projectfedena.org/
- #
- #Licensed under the Apache License, Version 2.0 (the "License");
- #you may not use this file except in compliance with the License.
- #You may obtain a copy of the License at
- #
- #  http://www.apache.org/licenses/LICENSE-2.0
- #
- #Unless required by applicable law or agreed to in writing,
- #software distributed under the License is distributed on an
- #"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
- #KIND, either express or implied.  See the License for the
- #specific language governing permissions and limitations
- #under the License.
#content-header
  = image_tag("HR/show_hr.png")
  %h1= t('employee_text')
  %h3= t('change_reporting_manager')
  #app-back-button
    = back_button
:javascript
   function update_reporting_manager(id) { document.getElementById('employee_reporting_manager_id').value = id.value; }
   function get_reporting_manager_id() { var query = document.getElementById('query').value;
                                        var dept = document.getElementById('employee_department_id').value;
                                        var cat = document.getElementById('employee_category_id').value;
                                        var position = document.getElementById('employee_position_id').value;
                                        var grade = document.getElementById('employee_grade_id').value;
                                        $.ajax({ type: "GET",   
                                                url: "select_reporting_manager",
                                                data: { query: query, employee_department_id: dept, employee_category_id: cat, employee_position_id: position, employee_grade_id: grade} ,
                                               
                                       });
                                       }
#page-yield
  %p.flash-msg
    = t('below_listed_employees')
  #list_content
    #list
      - @associate_employee.each do |b|
        %div{:class => "name_list#{cycle('odd', 'even')}"}
          %li
            .att_list_name
              = b.full_name
            .att_list_number= b.employee_number
  #form-content
    = form_for :employee do |e|
      #current-changed-manager
        #changed-manager-outer
          #changed-manager
            = t('selected_new_manager')
                             :
          #changed-manager-name
            %span.not-selected
              (#{t('not_selected')})
          #update-button= submit_tag("► #{t('save_and_proceed')}")
          .extender
      = e.hidden_field :reporting_manager_id
    #search-options
      #search-outer
        #search-label
          = t('search_by_name')
                      :
        #search-text-box= text_field_tag("query", params['query'], :autocomplete => 'off')
        = image_tag("loader.gif",      |
          :align => "absmiddle",       |
          :border => 0,                |
          :id => "loader",             |
          :style => "display: none;" ) |
        .extender
      #advanced-options
        .employee-search-options= select :employee, :department_id, @departments.map { |s| [s.name, s.id] },{:prompt => "#{t('select_a_department')}"},{onChange: "get_reporting_manager_id();"}
        .employee-search-options= select :employee, :category_id, @categories.map { |s| [s.name, s.id] },{:prompt => "#{t('select_category')}"},{onChange: "get_reporting_manager_id();"}
        .employee-search-options= select :employee, :position_id, @positions.map { |s| [s.name, s.id] },{:prompt => "#{t('select_position')}"},{onChange: "get_reporting_manager_id();"}
        .employee-search-options= select :employee, :grade_id, @grades.map { |s| [s.name, s.id] },{:prompt => "#{t('select_grade')}"},{onChange: "get_reporting_manager_id();"}
        .extender
  #information
