- # Fedena
- #Copyright 2010 Foradian Technologies Private Limited
- #
- #This product includes software developed at
- #Project Fedena - http://www.projectfedena.org/
- #
- #Licensed under the Apache License, Version 2.0 (the "License");
- #you may not use this file except in compliance with the License.
- #You may obtain a copy of the License at
- #
- #  http://www.apache.org/licenses/LICENSE-2.0
- #
- #Unless required by applicable law or agreed to in writing,
- #software distributed under the License is distributed on an
- #"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
- #KIND, either express or implied.  See the License for the
- #specific language governing permissions and limitations
- #under the License.
= javascript_include_tag :application
= csrf_meta_tag
#content-header
  = image_tag("attendence/attendence.png")
  %h1= t('attendance')
  %h3= t('advanced_search_text')
  #app-back-button
    = back_button
#page-yield
  #box
    #error-container
    = form_for(:advance_search, remote: true, :url => {:id => @student.id}) do |f|
      .label-field-pair
        %label{:for => "student"}= t('student_name')
        .text-input-bg
          = f.text_field :student_name, :value => @student.full_name, :disabled=> true
      .label-field-pair
        %label{:for => "student"}= t('admission_no')
        .text-input-bg
          = f.text_field :student_id, :value => @student.admission_no, :disabled=> true
      - unless @config.config_value == 'Daily'
        .label-field-pair
          %label{:for => "student"}= t('subject')
          .text-input-bg
            = f.select :subject_id,                |
              @subjects.map {|b| [b.name, b.id] }, |
              {:prompt => "#{t('all_subjects')}"}  |
      .label-field-pair
        %label{:for => "student"}
          = t('mode')
          = image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loader", :style =>"display: none;" )
        .text-input-bg
          = f.select :mode,                                                 |
            [["#{t('monthly')}","Monthly"], ["#{t('overall')}","Overall"]], |
            {:prompt => "#{t('select_mode')}"},                             |
            {:onChange => "onChangeRequest(this, '#{url_for(action: :month, mode: 'paramid', id: @student.id)}')"}
      #month
      = submit_tag "", :value => "► #{t('ok')}", :class => "submit_button"
    #report
