- # Fedena
- #Copyright 2010 Foradian Technologies Private Limited
- #
- #This product includes software developed at
- #Project Fedena - http://www.projectfedena.org/
- #
- #Licensed under the Apache License, Version 2.0 (the "License");
- #you may not use this file except in compliance with the License.
- #You may obtain a copy of the License at
- #
- #  http://www.apache.org/licenses/LICENSE-2.0
- #
- #Unless required by applicable law or agreed to in writing,
- #software distributed under the License is distributed on an
- #"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
- #KIND, either express or implied.  See the License for the
- #specific language governing permissions and limitations
- #under the License.
= javascript_include_tag :application

#calendar-legend
  #legend-entry
    #legend-symbol
      .legend-icon{ style: "background:#000000;"}
    #legend-text= t('events')
  #legend-entry
    #legend-symbol
      .legend-icon{ style: "background:#0C6C92;"}
    #legend-text= t('examinations')
  #legend-entry
    #legend-symbol
      .legend-icon{ style: "background:#00b400;"}
    #legend-text= t('holidays')
  #legend-entry
    #legend-symbol
      .legend-icon{ style: "background:#b40000;"}
    #legend-text= t('dues')
%br/
#head-month
  .header
    .prev
      = link_to "◄", {controller: :calendar, action: :new_calendar, new_month: (@show_month.month - 1), passed_date: @show_month}, remote: true
    .month
      = I18n.l(@show_month, format: :month_year)
    .next
      = link_to "►", {controller: :calendar, action: :new_calendar, new_month: (@show_month.month+1), passed_date: @show_month }, remote: true
    .extender
%table#calendar-table{align: "center", width: "100%"}
  %tbody
    %tr.week
      - [t('sunday'),t('monday'),t('tuesday'),t('wednesday'),t('thursday'),t('friday'),t('saturday')].each do |d|
        %td
          %span= d
    %tr.blank
    - (1..6).each do |r|
      %tr.day
        - (1..7).each do |c|
          - dt = c - @start_date_day + (r-1)*7
          - day_style = (dt == @show_month.day && @local_tzone_time.to_date == @show_month)? "today" : nil
          %td{ class: day_style.to_s}
            - unless (r == 1 and c <= @start_date_day)
              - unless dt > @last_day.day
                - if permitted_to? :index, :event
                  .link
                    = link_to t('add'), url_for(controller: :event, action: :index, id: Date.parse("#{@show_month.year}-#{@show_month.month}-#{dt}"))
                    %span= dt
                  .link-group
                    - if @events.include?("#{@show_month.year}-#{@show_month.month}-#{dt}".to_date)
                      = link_to("<div class='calendar-legend' style='background:#000000;'></div>".html_safe, { url: 'javascrpt:void(0);', :remote => true}, 
                      {:onmouseover => "onChangeRequest(this, '#{url_for(action: :show_event_tooltip, id: Date.parse("#{@show_month.year}-#{@show_month.month}-#{dt}") )}')", :class=>"event"})
                    - if @holiday_event.include?("#{@show_month.year}-#{@show_month.month}-#{dt}".to_date)
                      = link_to("<div class='calendar-legend' style='background:#00b400;'></div>".html_safe,  { url: 'javascrpt:void(0);', :remote => true}, {:onmouseover => "onChangeRequest(this, '#{url_for(action: :show_holiday_event_tooltip, id: Date.parse("#{@show_month.year}-#{@show_month.month}-#{dt}") )}')", :class=>"event"})
                    - if @notifications['student_batch_exam'].include?("#{@show_month.year}-#{@show_month.month}-#{dt}".to_date)
                      = link_to("<div class='calendar-legend' style='background:#0C6C92;'></div>".html_safe, {:url => {:action => "#"}, :remote => true} , 
                        {:onmouseover => "onChangeRequest(this, '#{url_for(action: :show_exam_event_tooltip, id: Date.parse("#{@show_month.year}-#{@show_month.month}-#{dt}") )}')", :class=>"event"})
                    - if @notifications['finance_due'].include?("#{@show_month.year}-#{@show_month.month}-#{dt}".to_date)
                      = link_to("<div class='calendar-legend' style='background:#b40000;'></div>".html_safe, {:url => {:action => "#"}, :remote => true} ,
                        {:onmouseover => "onChangeRequest(this, '#{url_for(action: :show_due_tooltip, id: Date.parse("#{@show_month.year}-#{@show_month.month}-#{dt}") )}')", :class=>"event"})
#modal-box{:style => "display:none;"}
