- # Fedena
- #Copyright 2010 Foradian Technologies Private Limited
- #
- #This product includes software developed at
- #Project Fedena - http://www.projectfedena.org/
- #
- #Licensed under the Apache License, Version 2.0 (the "License");
- #you may not use this file except in compliance with the License.
- #You may obtain a copy of the License at
- #
- #  http://www.apache.org/licenses/LICENSE-2.0
- #
- #Unless required by applicable law or agreed to in writing,
- #software distributed under the License is distributed on an
- #"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
- #KIND, either express or implied.  See the License for the
- #specific language governing permissions and limitations
- #under the License.
- unless  @all_timetable_entries.empty?
  #timetable-container
    .employee_list
      %table#teacher{:cellspacing => "1"}
        %tr#weekday-header.themed_text
          %th
        %tr#period-count.themed_text
          %td
        - @all_teachers.each do |teacher|
          - unless teacher.nil?
            %tr.batch
              %td.batch_name.themed_text= "#{teacher.full_name} [ #{teacher.employee_number} ]"
    #table-viewer
      %table#timetable{:cellspacing => "1"}
        %tr#weekday-header.themed_text
          - @all_weekdays.each do |weekday|
            %th{:colspan => "#{@all_classtimings.count}"}= t("#{Date::DAYNAMES[weekday.day_of_week].downcase}").upcase
        %tr#period-count.themed_text
          - @all_weekdays.each do |weekday|
            - @all_classtimings.each do |ct|
              %td.tte
                = "#{ct.start_time.strftime("%I:%M%p")} - #{ct.end_time.strftime("%I:%M%p")}"
        - @all_teachers.each do |teacher|
          - unless teacher.nil?
            %tr.batch
              - @all_weekdays.each do |weekday|
                - @all_classtimings.each do |ct|
                  %td.tte
                    - if @timetable_entries[teacher.id][weekday.id][ct.id].size > 1
                      .entries_wrapper
                        .entries
                          - @timetable_entries[teacher.id][weekday.id][ct.id].each_pair do |k, entry|
                            .sub_name
                              = formatted_timetable_cell_2(entry,teacher) unless entry.blank?
                            .batch_code
                              = timetable_batch (entry) unless entry.blank?
                            .gap
                      - entry = @timetable_entries[teacher.id][weekday.id][ct.id].first
                      .sub_name
                        = formatted_timetable_cell_2(entry.last,teacher) unless entry.blank?
                      .batch_code
                        = timetable_batch (entry.last) unless entry.blank?
                      %a.themed_text.add_sym +
                    - else
                      - entry = @timetable_entries[teacher.id][weekday.id][ct.id].first
                      .sub_name
                        = formatted_timetable_cell_2(entry.last,teacher) unless entry.blank?
                      .batch_code
                        = timetable_batch (entry.last) unless entry.blank?
- else
  #timetable-container= t('no_entries_found')
