- # Fedena
- #Copyright 2010 Foradian Technologies Private Limited
- #
- #This product includes software developed at
- #Project Fedena - http://www.projectfedena.org/
- #
- #Licensed under the Apache License, Version 2.0 (the "License");
- #you may not use this file except in compliance with the License.
- #You may obtain a copy of the License at
- #
- #  http://www.apache.org/licenses/LICENSE-2.0
- #
- #Unless required by applicable law or agreed to in writing,
- #software distributed under the License is distributed on an
- #"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
- #KIND, either express or implied.  See the License for the
- #specific language governing permissions and limitations
- #under the License.
= stylesheet_link_tag("employee_attendance/employee_leave_reset_by_employee.css")
= stylesheet_link_tag("_layouts/style.css")
= javascript_include_tag :application
#content-header
  = image_tag("HR/leave-new.png")
  %h1= t('reset_employee_leaves')
  %h3= t('reset_employee_leave_for_each_emp')
  #app-back-button
    = back_button
:javascript
    function employee_search_ajax() { 
    var query = document.getElementById('query').value;
                                        var dept = document.getElementById('employee_department_id').value;
                                        var cat = document.getElementById('employee_category_id').value;
                                        var position = document.getElementById('employee_position_id').value;
                                        var grade = document.getElementById('employee_grade_id').value;
                                        $.ajax({ type: "GET",   
                                                url: "employee_search_ajax",
                                                data: { query: query, employee_department_id: dept, employee_category_id: cat, employee_position_id: position, employee_grade_id: grade} ,
                                               
                                       });
                                       }

#inner-tab-menu
  %ul
    %li= link_to "#{t('view_all')}", :controller=>"employee_attendance", :action=>"employee_view_all"
#page-yield
  .bread_crumb
    = link_to t('hr'), :controller => "employee", :action=>"hr"
    »
    \#{link_to t('employee_leave_management'), :controller => "employee", :action => "employee_attendance"} »
    \#{link_to t('reset_leave'), :controller => "employee_attendance", :action => "manual_reset"} »
    \#{t('individual_reset')}
  #search_box_bg
    #form-content
      %form{:action => "", :name => "employee", :style => "display:inline;"}
        %label{:for => "name"}
          = t('search_text')
          = image_tag("loader.gif",      |
            :align => "absmiddle",       |
            :border => 0,                |
            :id => "loader",             |
            :style => "display: none;" ) |
        #search_textbox
          = text_field_tag("query", params['query'], :autocomplete => 'off', :onChange => "employee_search_ajax();")
          %br/
    .advanced_options
      .advanced-options-select= select :employee, :department_id, @departments.map {|s| [s.name, s.id]}, {:prompt => "#{t('select_department')}"}, {:onChange => "employee_search_ajax();"}
      .advanced-options-select= select :employee, :category_id,   @categories.map {|s| [s.name, s.id]},  {:prompt => "#{t('select_category')}"}, {:onChange => "employee_search_ajax();"}
      .advanced-options-select= select :employee, :position_id,   @positions.map {|s| [s.name, s.id]},   {:prompt => "#{t('select_position')}"}, {:onChange => "employee_search_ajax();"}
      .advanced-options-select= select :employee, :grade_id,      @grades.map {|s| [s.name, s.id]},      {:prompt => "#{t('select_grade')}"}, {:onChange => "employee_search_ajax();"}

      .extender
      #information  