- # Fedena
- #Copyright 2010 Foradian Technologies Private Limited
- #
- #This product includes software developed at
- #Project Fedena - http://www.projectfedena.org/
- #
- #Licensed under the Apache License, Version 2.0 (the "License");
- #you may not use this file except in compliance with the License.
- #You may obtain a copy of the License at
- #
- #  http://www.apache.org/licenses/LICENSE-2.0
- #
- #Unless required by applicable law or agreed to in writing,
- #software distributed under the License is distributed on an
- #"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
- #KIND, either express or implied.  See the License for the
- #specific language governing permissions and limitations
- #under the License.
= javascript_include_tag :application
#content-header
  = image_tag("examination/show_exam.png")
  %h1= t('exams_text')
  %h3= t('subject_wise_report')
  #app-back-button
    = back_button
  #page-yield
    - unless flash[:notice].nil?
      %p.flash-msg
        = flash[:notice]
    .bread_crumb
      = link_to t('exam_text'), exam_index_path
      »
      \#{link_to t('report_center'), report_center_exam_index_path} »
      \#{t('subject_wise_report')}
    .box
      = form_for :exam_report, url: generated_report2_exam_index_path do |x|
        .text-input-bg
          = select :exam_report, :batch_id,                                                         |
            @batches.map {|b| [b.full_name, b.id]},                                                 |
            {:prompt => "#{t('select_a_batch')}"},                                                  |
            {:onChange => "onChangeRequest(this, '#{url_for(action: :list_subjects, batch_id: 'paramid')}')"}

        %div
          #subject-select.text-input-bg
            = select :exam_report, :subject_id, @subjects.map{|subject| [subject.name,subject.id]},prompt: t('select_subject')
          = image_tag("loader.gif",     |
            :align => "absmiddle",      |
            :border => 0,               |
            :id => "loader",            |
            :style =>"display: none;" ) |
        = submit_tag "", :value => "► #{t('view')}", :class => "submit_button"
      .extender
