- # Fedena
- #Copyright 2010 Foradian Technologies Private Limited
- #
- #This product includes software developed at
- #Project Fedena - http://www.projectfedena.org/
- #
- #Licensed under the Apache License, Version 2.0 (the "License");
- #you may not use this file except in compliance with the License.
- #You may obtain a copy of the License at
- #
- #  http://www.apache.org/licenses/LICENSE-2.0
- #
- #Unless required by applicable law or agreed to in writing,
- #software distributed under the License is distributed on an
- #"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
- #KIND, either express or implied.  See the License for the
- #specific language governing permissions and limitations
- #under the License.
= stylesheet_link_tag("courses/show.css")
#content-header
  = image_tag("show_settings.png")
  %h1= t('courses_text')
  %h3= t('show')
  #app-back-button
    = back_button
#inner-tab-menu
  %ul
    %li
      = link_to "#{t('new_text')}", {:controller => :batches, :action=> :new, :course_id => @course.id}
    %li
      = link_to "Group Batches", {:controller=>"courses", :action=>"grouped_batches", :id=>@course.id}
    - if permitted_to? :edit, :course
      %li= link_to "#{t('edit_text')}", {:controller=> :batches, :action => :edit, :course_id => @course, :id => @batch} if permitted_to? :edit, :course
    - if permitted_to? :destroy, :course
      %li= link_to(t('delete_text'), {:controller=> :batches, :action => :delete, :course_id => @course, :id => @batch})
    - if permitted_to? :assign_subject_amount, :courses
      %li= link_to "#{t('assign_subject_amount')}", assign_subject_amount_courses_path(:id => @course.id)
#page-yield
  .bread_crumb
    = link_to t('configuration_text'), :controller => "configuration", :action=>"index"
    »
    \#{link_to t('courses_text'), :controller => "courses", :action => "show"} »
    \#{link_to t('manage_course'), :controller => "courses", :action => "manage_course"} »
    \#{@course.full_name}
  - unless flash[:notice].nil?
    %p.flash-msg
      = flash[:notice]
  .box
    %ul#category-list
      - @batches.each do |batch|
        %li{:class => "list#{cycle('odd', 'even')}"}
          .category-name= link_to batch.full_name, {:controller => :batches, :action => :show, :course_id => @course}
          .category-edit
            = link_to "#{t('edit_text')}", {:controller => :batches, :action => :edit, :course_id => @course} if permitted_to? :edit, :batches
          .category-delete
            = link_to("#{t('delete_text')}",{:controller=> :batches, :action => :delete, :course_id => @course, :id => batch.id})  if permitted_to? :destroy, :batches
    .extender
