- if @error.nil?
  $("#form-errors").html("#{escape_javascript ''}")
  $("#attendance-employee-#{@employee.id}-day-#{@date}").html("#{escape_javascript render 'attendance_cell'}").modalBox.remove();
- else
  $("#form-errors").html("#{escape_javascript render 'errors', :object => @attendance}").modalBox.remove();
