- # Fedena
- #Copyright 2010 Foradian Technologies Private Limited
- #
- #This product includes software developed at
- #Project Fedena - http://www.projectfedena.org/
- #
- #Licensed under the Apache License, Version 2.0 (the "License");
- #you may not use this file except in compliance with the License.
- #You may obtain a copy of the License at
- #
- #  http://www.apache.org/licenses/LICENSE-2.0
- #
- #Unless required by applicable law or agreed to in writing,
- #software distributed under the License is distributed on an
- #"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
- #KIND, either express or implied.  See the License for the
- #specific language governing permissions and limitations
- #under the License.
#content-header
  = image_tag("examination/show_exam.png")
  %h1= t('exams_text')
  %h3= t('edit_exam')
  #app-back-button
    = link_to image_tag("buttons/back.png", border: 0), 'javascript:void(0)', "history.back()"
#page-yield
  - unless flash[:notice].nil?
    %p.flash-msg
      = flash[:notice]
  .box
    .bread_crumb
      = link_to t('courses_text'), courses_path
      »
      \#{link_to @course.full_name, @course} »
      \#{link_to "#{t('batch')} #{@batch.name}", [@course, @batch]} »
      \#{link_to "#{t('exams_text')}", batch_exam_groups_path(@batch)} »
      \#{link_to @exam_group.name, [@batch, @exam_group]} »
      \#{t('edit_text')}
    %h4
      = t('for_exam_group')
      \- #{@exam_group.name}
    = form_for [@exam_group, @exam] do |f|
      = error_messages_for :exam
      .label-field-pair
        = f.label "#{t('subject')}"
        .text-input-bg= f.select :subject_id, @subjects.map { |s| [s.name, s.id]}
      .label-field-pair
        = f.label "#{t('start_time')}"
        .text-input-bg
          = f.calendar_date_select :start_time,:readonly=>true,:popup=>"force"
      .label-field-pair
        = f.label "#{t('end_time')}"
        .text-input-bg= f.calendar_date_select :end_time,:readonly=>true,:popup=>"force"
      - unless @exam_group.exam_type=="Grades"
        .label-field-pair
          = f.label "#{t('max_mark')}"
          .text-input-bg= f.text_field :maximum_marks
        .label-field-pair
          = f.label "#{t('min_mark')}"
          .text-input-bg= f.text_field :minimum_marks
      = submit_tag "", :value => "► #{t('save')}", :class => "submit_button"
    .extender
