- # Fedena
- #Copyright 2010 Foradian Technologies Private Limited
- #
- #This product includes software developed at
- #Project Fedena - http://www.projectfedena.org/
- #
- #Licensed under the Apache License, Version 2.0 (the "License");
- #you may not use this file except in compliance with the License.
- #You may obtain a copy of the License at
- #
- #  http://www.apache.org/licenses/LICENSE-2.0
- #
- #Unless required by applicable law or agreed to in writing,
- #software distributed under the License is distributed on an
- #"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
- #KIND, either express or implied.  See the License for the
- #specific language governing permissions and limitations
- #under the License.
.linker
  = link_to t('add'), { :action =>  :new, :id => @batch }, :remote => true
- unless @class_timings.empty?
  %table#class-timings-list{:width => "100%"}
    %tr.tr-head
      %td= t('name')
      %td= t('start_time')
      %td= t('end_time')
      %td= t('operations')
    - @class_timings.each do |class_timing|
      %tr{:class => "tr-#{cycle('odd','even')}", :id => "class-timing-#{class_timing.id}"}
        %td.col-1= class_timing.name
        %td.col-3= class_timing.start_time.strftime("%I:%M %p") unless class_timing.start_time.nil?
        %td.col-3= class_timing.end_time.strftime("%I:%M %p") unless class_timing.end_time.nil?
        %td.col-3
          %small
            = link_to("#{t('edit_text')}", {:action => :edit, :id => class_timing.id}, :method => 'get' , :remote => true)	
            - @tt = PeriodEntry.where(:class_timing_id => class_timing.id )
            - if @tt.empty?
              = link_to(t('delete_text'), {:action => :destroy, :id => class_timing.id}, method: :delete, confirm: t('confirm_msg'),update: "class-timing-#{class_timing.id}",remote: true)
            - else
              %s= t('delete_text')
- else
  %h4= t('set_in_common')
